<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.quizapp2">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3222044545735458~4428684383"/>
        <activity android:name=".conclusion.endDash"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            tools:ignore="LockedOrientationActivity"></activity>
        <activity android:name=".third.thirdQuestionPane"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".third.frontDashThird"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".second.secondQuestionPlane"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".second.frontDashSecond"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".first.firstQuestionPain"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".first.frontDash" />

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>